{
  "rules": {
    "func-names": ["error", "never"],
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "array-callback-return": "off",
    "prefer-const": "off",
    "consistent-return": "off",
    "prefer-destructuring": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "no-loop-func": "off",
    "max-len": 0,
    "operator-assignment": "off"
  },
  "extends": ["airbnb/base", "prettier"],
  "env": {
    "mocha": true
  }
}
