{
  "extends": "airbnb/base",
  "env": {
    "mocha": true
  },
  "rules": {
    "array-callback-return": "off",
    "arrow-body-style": "off",
    "consistent-return": "off",
    "func-names": ["error", "never"],
    "quote-props": ["error", "always"],
    "max-len": ["error", { "code": 185 }],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off"
  }
}
